extends layout

block layout-content
    div.View
        h1.Banner Вы устали?
        div.Message
            div.Title
                h3 JavaScript
                h1 Отнимает все силы?
            span.Details ЕСТЬ РЕШЕНИЕ!
        div.NavButtons
            a(href="/contact")
                div.NavButton Просто попробуйте!
                    img(src="welcome.jpg")